[submodule "cr/message/definitions"]
	path = cr/message/definitions
	url = https://github.com/iGio90/cr-messages.git
[submodule "script/cr-csv"]
	path = script/cr-csv
	url = https://github.com/smlbiobot/cr-csv.git
